@if (event) {
<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ event.name }}
    </mat-card-title>
  </mat-card-header>
  <div class="rainbow-bar-sm"></div>
  <mat-card-content>
    <div>
      <mat-icon>schedule</mat-icon>
      <span>
        {{ event.start.toLocaleTimeString().replace(regex, "") }} -
        {{ event.end.toLocaleTimeString().replace(regex, "") }}
      </span>
    </div>
    @if (showDate) {
    <div>
      <mat-icon>event</mat-icon>
      {{ event.start.toLocaleDateString() }}
    </div>
    }
    <div>
      <mat-icon>pin_drop</mat-icon>
      {{ event.location }}
    </div>
    @if (event.description){
    <div>
      <p [innerHTML]="event.description"></p>
    </div>
    }
  </mat-card-content>
  <div class="rainbow-bar-sm"></div>
  <mat-card-actions>
    @if(event.link){
    <a [href]="event.link" target="_blank">
      <button
        mat-icon-button
        [matTooltip]="event.link"
        matTooltipClass="link-tooltip"
      >
        <mat-icon>link</mat-icon>
      </button>
    </a>
    }
  </mat-card-actions>
</mat-card>
}
