:host{
    header{
        margin: auto;
        width: 50%;
    }
    
    .chart-tooltip{
        position: absolute;
    }

    .options-bar{
        display: flex;
        gap: 15px;

        button {
            width: 100px;
            font-size: 14px;
            color: black;
        }
    }
}