:host{
    display: flex;

    .chart-tooltip{
        position: absolute;
    }

    .options-bar{
        display: flex;
        gap: 15px;

        button{
            width: 100px;
            font-size: 14px;
            color: black;
        }
    }

    .side-panel{
        width: 450px;
    }
}