:host {
    #zine {
        display: flex;
        flex-direction: column;
        align-items: center;

        
        pdf-viewer{
            width: 840px;
            height: 1150px;
            max-width: 95vw;
            max-height: calc(95vw * 1.37);
        }
    }
}