<header>
  <h1>Warrington Pride Zine 2025</h1>
</header>
<section id="zine">
  <nav>
    <button mat-button>
      <mat-icon (click)="onSelectionChange(-1)">chevron_left</mat-icon>
    </button>
    <button mat-button>
      <mat-icon (click)="onSelectionChange(1)">chevron_right</mat-icon>
    </button>
  </nav>
  <pdf-viewer
    [src]="'/assets/PrideZine/pride2025_' + this.pdfSrc[selectedPdf] + '.pdf'"
    [render-text]="true"
    [original-size]="false"
  ></pdf-viewer>
  <nav>
    <button mat-button>
      <mat-icon (click)="onSelectionChange(-1)">chevron_left</mat-icon>
    </button>
    <button mat-button>
      <mat-icon (click)="onSelectionChange(1)">chevron_right</mat-icon>
    </button>
  </nav>
</section>
