<header>
  <h1>Warrington Pride Zine 2025</h1>
  <p>
    During Warrington Pride 2025, Queer Coffee hosted a zine making workshop at
    the University of Chester's University Centre Warrington. Attendees were
    asked to make zines exploring the spectrum of queer experiences in
    Warrington.<br /><br />We present the zines created with permission from the
    creators.
  </p>
</header>
<section id="zine">
  <mat-toolbar>
    <button aria-label="Open Menu" mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button
      aria-label="Previous"
      mat-icon-button
      (click)="onSelectionChange(-1)"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button aria-label="Next" mat-icon-button (click)="onSelectionChange(1)">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button aria-label="Zoom Out" mat-icon-button (click)="onZoomChange(-1)">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button aria-label="Zoom In" mat-icon-button (click)="onZoomChange(1)">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      #sideNav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
    >
      <mat-nav-list>
        <div mat-subheader>
          Index
          <button
            id="close-index"
            aria-label="Close Index Menu"
            mat-icon-button
            (click)="sideNav.toggle()"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
        @for (pdf of pdfSrc; track pdf; let idx = $index) {
        <button
          mat-list-item
          (click)="onSelection(idx)"
          [ngStyle]="{
            'background-color': idx == selectedPdf ? '#535353' : '#000'
          }"
        >
          {{ pdf.name }}
        </button>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <pdf-viewer
        [src]="
          '/assets/PrideZine/pride2025_' + pdfSrc[selectedPdf].file + '.pdf'
        "
        [render-text]="true"
        [original-size]="false"
        [zoom]="zoom"
      ></pdf-viewer>
      <img [alt]="pdfSrc[selectedPdf].altText" />
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar>
    <button aria-label="Previous" mat-icon-button>
      <mat-icon (click)="onSelectionChange(-1)">chevron_left</mat-icon>
    </button>
    <button aria-label="Next" mat-icon-button>
      <mat-icon (click)="onSelectionChange(1)">chevron_right</mat-icon>
    </button>
  </mat-toolbar>
</section>
