:host {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-bottom: 0px;
            max-width: calc(100% - 60px);
        }
        
        button {
            margin-right: 20px;
        }
    }

    mat-dialog-content{
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;

        div {
            padding-top: 3px;
        }
        
        span {
            overflow: auto;
        }
    }
}