<mat-card>
    <mat-card-header>
        <mat-card-title>Community Calendar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=UTC&bgcolor=%23ffffff&showTitle=0&showTz=0&showCalendars=0&showTabs=0&showPrint=0&hl=en_GB&title&src=d2FycnF1ZWVyY29mZmVlQGdtYWlsLmNvbQ&color=%23EF6C00" 
        style="border-width:0" 
        width="800" 
        height="600" 
        frameborder="0" 
        scrolling="no"
        ></iframe>
    </mat-card-content>
</mat-card>