:host {
    section {
        background-color: rgb(252, 236, 208);
        padding-bottom: 3rem;

        .calendar-box{
            margin: 0 10%;
            display: flex;
            gap: 5rem;

            div {
                padding: 1rem;
                
                &#calendar {
                    background-color: white;
                    flex-grow: 1;
                    min-width: 60%;
                    width: 800px;
                }
                
                &#calendar-list {
                    background-color: white;
                    min-width: 30%;
                    width: 600px;
                    flex-grow: 1;
                }
            }
        }
    }
}