:host {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    min-height: calc(100% - 64px);

    mat-card.mat-mdc-card{
        background: rgb(231, 231, 231);
    
        mat-card-header{
            color: white;
            background: #1e1a1d;
          }
          
          mat-card-content{
              color: black;
        }
    }

    #calendar-card {
        flex-grow: 2;
        min-width: 50%;
        width: 800px;
    }

    #calendar-list-card {
        min-width: 20%;
        width: 600px;
        flex-grow: 1;
    }

    mat-card {
        margin: 10px;

        mat-card-header {
            padding-bottom: 10px;
        }
    }

    #calendar-list-card > .mat-mdc-card-content {
        padding-left: 0;
        padding-right: 0;
    }
}