:host {
    width: 90%;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 10%;
        
        h1{
            font-family: "Cal Sans", sans-serif;
            font-size: 4rem;
        }
        
        p{
            max-width: 800px;
            text-align: left;
        }
        
        nav {
            display: flex;
            justify-content: center;
            gap: 20px;  
        }
    }
    .rainbow-bar{
        margin: 15px 0;
        width: 100%;
    }
    section {
        margin: 40px 10%;
    }

    #location{
        display: flex;
        justify-content: center;
        gap: 10px;

        #location-text{
            max-width: 550px;
            
        }
    }
}