<section class="off-white">
  <h1 class="off-white">Local Groups</h1>
  <div>
    @for (group of groups; track group) {
    <app-info-card [group]="group"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Other Groups</mat-card-title>
          <mat-card-subtitle
            >Links to other groups in the area</mat-card-subtitle
          >
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content>
          <app-info-card-list [items]="socials"></app-info-card-list>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </article>
  </div>
</section>
<section>
  <h1>Businesses</h1>
  <p id="businesses-intro">
    Our list of businesses are either people known to or places visited by the
    members of Queer Coffee. We list Queer owned or run businesses, as well as
    places known to have staff that have been courteous towards those who do not
    display normative gender indicators, therefore trans and non-binary people
    have not been dismissed, ignored or asked to leave. This is why we approve
    them.<br /><br />
    The list is not exclusive! We hope there are many more businesses in town
    who are willing to engage with us in a respectful manner.
  </p>
  <div>
    @for (group of companies; track group) {
    <app-info-card [group]="group"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>LGBTQ+ Friendly Businesses</mat-card-title>
          <mat-card-subtitle
            >To our knowledge these are not LGBTQ+ owned, but they have shown
            themselves to be LGBTQ+ friendly by hosting events or responding
            well towards our members.
          </mat-card-subtitle>
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content class="flex-grow-content">
          <app-info-card-list [items]="friendly"></app-info-card-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-actions
          >Click a business for more information</mat-card-actions
        >
      </mat-card>
    </article>
  </div>
</section>
<section class="off-white">
  <h1 class="off-white">Support Services</h1>
  <div>
    @for (service of supportServices; track service) {
    <app-info-card [group]="service"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>National Support Services</mat-card-title>
          <mat-card-subtitle>Links to national services</mat-card-subtitle>
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content>
          <app-info-card-list [items]="charities"></app-info-card-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </article>
  </div>
</section>
