<section class="off-white">
  <h1 class="off-white">Local Groups</h1>
  <div>
    @for (group of groups; track group) {
    <app-info-card [group]="group"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Other Groups</mat-card-title>
          <mat-card-subtitle
            >Links to other groups in the area</mat-card-subtitle
          >
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content>
          <mat-list>
            @for (social of socials; track social) {
            <mat-list-item>
              <img matListItemIcon [src]="social.icon" [alt]="social.iconAlt" />
              <a [href]="social.link" target="_blank">
                <span class="link-text">{{ social.name }}</span>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
          </mat-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-header>
          <mat-card-title>LGBTQ+ Businesses</mat-card-title>
          <mat-card-subtitle
            >Owned or friendly to the community</mat-card-subtitle
          >
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content class="flex-grow-content">
          <mat-list>
            @for (company of companies; track company) {
            <mat-list-item>
              <mat-icon style="color: rgb(30, 26, 29)">{{
                company.icon
              }}</mat-icon>
              <a [href]="company.link" target="_blank">
                <span class="link-text">{{ company.name }}</span>
              </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
          </mat-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </article>
  </div>
</section>
<section>
  <h1>Support Services</h1>
  <div>
    @for (service of supportServices; track service) {
    <app-info-card [group]="service"></app-info-card>
    }
  </div>
</section>
