:host {
    section {
        margin: 25px 10%;
        @media (max-width: 790px) {
            margin: 10px;
        }

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
        justify-content: center;

        .mat-mdc-card-image{
            width: 100%;
        }

        article {
            flex: 1 1;
            min-width: 300px;

            mat-card {         
                height: 100%;
                
                .gradient-box{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                mat-card-content{
                    background: rgb(231, 231, 231);
                    color: black;
                    padding: 8px;
                    flex-grow: 1;
                }
            }

            mat-list-item{
                .link-text{
                    color: black;
                }

                .icon, mat-icon{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

            .flex-grow-content {
                flex-grow: 1;
            }

            #calendar-card-home > .mat-mdc-card-content {
                padding-left: 0;
                padding-right: 0;
            }
        }

        #queer-coffee-icon {
            background-image: url('/assets/images/queerCoffeeLogo.jpg');
            background-size: cover;
            background-position: center;
        }

        #loving-me-icon {
            background-image: url('/assets/images/logo-loving-me.png');
            background-size: cover;
            background-position: center;
        }
        
        #tags-icon {
            background-image: url('/assets/images/download.png');
            background-size: cover;
            background-position: center;
        }

        #cwa-icon{
            background-image: url('/assets/images/TWAlogo.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}
