<section class="off-white">
  <h1 class="off-white">Local Groups</h1>
  <div>
    @for (group of groups; track group) {
    <app-info-card [group]="group"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Other Groups</mat-card-title>
          <mat-card-subtitle
            >Links to other groups in the area</mat-card-subtitle
          >
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content>
          <app-info-card-list [items]="socials"></app-info-card-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-header>
          <mat-card-title>LGBTQ+ Businesses</mat-card-title>
          <mat-card-subtitle
            >Owned or friendly to the community</mat-card-subtitle
          >
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content class="flex-grow-content">
          <app-info-card-list [items]="companies"></app-info-card-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </article>
  </div>
</section>
<section>
  <h1>Support Services</h1>
  <div>
    @for (service of supportServices; track service) {
    <app-info-card [group]="service"></app-info-card>
    }
    <article>
      <mat-card>
        <mat-card-header>
          <mat-card-title>National Support Services</mat-card-title>
          <mat-card-subtitle>Links to other services</mat-card-subtitle>
        </mat-card-header>
        <div class="rainbow-bar-sm"></div>
        <mat-card-content>
          <app-info-card-list [items]="charities"></app-info-card-list>
        </mat-card-content>
        <div class="rainbow-bar-sm"></div>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </article>
  </div>
</section>
