:host {
    section{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        
        #queer-coffee-icon {
            background-image: url('/assets/images/queerCoffeeLogo.jpg');
            background-size: cover;
            background-position: center;
        }

        #loving-me-icon {
            background-image: url('/assets/images/logo-loving-me.png');
            background-size: cover;
            background-position: center;
        }
        
        #tags-icon {
            background-image: url('/assets/images/download.png');
            background-size: cover;
            background-position: center;
        }

        .mat-mdc-card-image{
            width: 100%;
        }
        
        mat-card {
            flex: 1 1;
            min-width: 300px;

            mat-card-content{
                margin: 1px 0;
                background: rgb(231, 231, 231);
                color: black;
                padding: 8px;
                flex-grow: 1;
            }

            mat-card-actions{
                background: rgb(30, 26, 29);
            }

            >img{
                max-height: 300px;
                width: fit-content;
                align-self: center;
            }
        }

        mat-list-item{
            .link-text{
                color: black;
            }

            .icon, mat-icon{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        #calendar-card-home > .mat-mdc-card-content {
            padding-left: 0;
            padding-right: 0;
        }
    }
}