:host{
    position: absolute;
    mat-card{
        max-width: 400px;

        .rainbow-bar-sm {
            margin: 5px 0;
        }

        mat-card-content{
            color: white
        }
    }
  }