<nav>
  <mat-toolbar>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a>
      <a
        routerLink="/events"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button mat-menu-item>
          <mat-icon>calendar_month</mat-icon>
          <span>Events</span>
        </button>
      </a>
    </mat-menu> -->
    <span>Queer Warrington</span>
    <span class="spacer"></span>
    <a
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <button mat-icon-button matTooltip="Home" aria-label="Home us button">
        <mat-icon>home_page</mat-icon>
      </button>
    </a>
    <a
      routerLink="/pride"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <button mat-icon-button matTooltip="Pride" aria-label="Pride button">
        <mat-icon>looks</mat-icon>
      </button>
    </a>
    <!-- <div>
      <button mat-icon-button (click)="switchTheme('light')">L</button>
      <button mat-icon-button (click)="switchTheme('dark')">D</button>
    </div> -->
  </mat-toolbar>
  <div class="rainbow-bar"></div>
</nav>
