:host {
    section {
        background-color: rgb(252, 236, 208);
        padding-bottom: 3rem;

        .calendar-box{
            margin: 0 10%;
            display: flex;
            gap: 5rem;

            
            @media (max-width: 790px) {
                flex-direction: column;
            }

            div {
                padding: 1rem;
                background-color: white;
                flex-grow: 1;
                
                &#calendar {
                    min-width: 60%;
                }
                
                &#calendar-list {
                    min-width: 30%;
                }
            }
        }
    }
}