<mat-list>
  @for (item of items; track item) { @if (!item.description) {
  <a [href]="item.link" target="_blank">
    <mat-list-item>
      @if (item.icon.includes('/assets')){
      <img matListItemIcon [src]="item.icon" [alt]="item.iconAlt" />
      } @else {
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      }
      <span matListItemTitle class="text-item">{{ item.name }}</span>
      @if(item.subtitle){
      <span class="text-item" matListItemLine>{{ item.subtitle }}</span>
      }
    </mat-list-item>
  </a>
  } @else {
  <mat-list-item
    (click)="openDialog(item)"
    (keyup.enter)="openDialog(item)"
    tabindex="0"
  >
    @if (item.icon.includes('/assets')){
    <img matListItemIcon [src]="item.icon" [alt]="item.iconAlt" />
    } @else {
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    }
    <span matListItemTitle class="text-item">{{ item.name }}</span>
    @if(item.subtitle){
    <span class="text-item" matListItemLine>{{ item.subtitle }}</span>
    }
  </mat-list-item>
  }
  <mat-divider></mat-divider>
  }
</mat-list>
