@use '../../variables' as v;

:host {
    mat-list-item{
        height: auto;
        padding: 10px;

        .icon, mat-icon{
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        .mat-mdc-list-item-title{
            font-weight: 700;
        }

        .text-item, .mat-icon{
            text-wrap: wrap;
            color: v.$dark;
        }

        &:hover{
            background-color: v.$orange-lite;
        }

        &:active{
            background-color: v.$orange-mid;
        }
    }
}