/* You can add global styles to this file, and also import other style files */
@use 'app/variables' as v;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a, a:visited, a:hover, a:focus, a:hover, a:active { text-decoration: none !important; color: inherit !important; }

h1 {
  padding-top: 30px;
  text-align: center;
}

mat-card.mat-mdc-card{
    mat-card-header{
        color: white;
    }

    mat-card-actions{
      border-radius: 1em;
      background: rgb(30, 26, 29);
  }
}

.gradient-box {
    $border: 6px;
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: v.$rainbow-colour
    }
  }

.rainbow-bar{
    height: 15px;
    background: v.$rainbow-horizontal;
}