/* You can add global styles to this file, and also import other style files */
@use './app/styles/variables' as v;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a, a:visited, a:hover, a:focus, a:hover, a:active { text-decoration: none !important; color: inherit !important; }

h1 {
  padding-top: 30px;
  text-align: center;
}

mat-card.mat-mdc-card{
    mat-card-header{
        color: v.$lite;
    }

    mat-card-actions{
      border-radius: 1em;
      background: v.$dark;
  }
}

.gradient-box {
    $border: 6px;
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: v.$rainbow-colour
    }
  }

.rainbow-bar{
    height: 15px;
    background: v.$rainbow-horizontal;
}

.rainbow-bar-sm{
  height: 5px;
  background: v.$rainbow-horizontal;
}

.fc .fc-button {
  background-color: v.$orange-lite;
  border: 0;
  margin: 0 3px;

  &.fc-button-primary:not(:disabled):active {
    background-color: v.$orange-dark
  }

  &:hover,&.fc-button-primary:not(:disabled):focus{
    box-shadow: none;
    background-color: v.$orange-mid;
  }
}

.fc-event.fc-daygrid-event{
  display: flex;
  flex-wrap: wrap;

  .fc-event-title{
    text-wrap: auto;
    font-weight: 600;
  }
}