<header id="home-intro">
  <mat-card>
    <p>
      Welcome to <br /><strong>Queer Warrington</strong><br />
      This website is a community run resource for local Queer/LGBTQ+ groups to help build community and connect.<br/><br/>
      It is created and updated for free by one person.<br/>
      Feel free to use the email linked at the bottom of the page, but note I do not check it regularly, and it's better if possible to try to connect directly with the listed groups of interest. 
    </p>
  </mat-card>
</header>
<app-events></app-events>
<app-groups></app-groups>
